<div class="container">
    <!-- Custom Success/Error Message -->
    <div class="show-hide-message">
        <div [ngClass]="messageClass">
            {{ message }}
        </div>
    </div>
    <div class="shop-menu">
        <ul class="myBtnContainer d-flex flex-wrap">
            <li class="btn" [ngClass]="{'active': classActive === 1 }" (click)="filterSelection('all', 1)">All Products</li>
            <li class="btn" [ngClass]="{'active': classActive === 2 }" (click)="filterSelection('women', 2)">Women</li>
            <li class="btn" [ngClass]="{'active': classActive === 3 }" (click)="filterSelection('men', 3)">Men</li>
            <li class="btn" [ngClass]="{'active': classActive === 4 }" (click)="filterSelection('accesories', 4)">Accesories</li>
        </ul>
        <div class="shop-filter">
            <div class="filter-button" data-toggle="collapse" data-target="#footwear" aria-expanded="false" aria-controls="footwear">Filter</div>
        </div>
    </div>
    <div class="collapse" id="footwear">
        <div class="container">
            <div class="row">
                <div class="collapse-describe col-6	col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <ul>
                        <li class="sortBy"> Sort By</li>
                        <li class="sortBy">Default</li>
                        <li class="sortBy">Popularity</li>
                        <li class="sortBy">Average rating</li>
                        <li class="sortBy">Newness</li>
                        <li class="sortBy">Price: Low to Hight</li>
                        <li class="sortBy">Price: High to Low</li>
                    </ul>
                </div>
                <div class="collapse-describe col-6	col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <ul>
                        <li class="sortBy">Price</li>
                        <li class="sortBy" (click)="sortPrice(0,0,true)">All</li>
                        <li class="sortBy" (click)="sortPrice(0,10)">$0.00 - $10.00</li>
                        <li class="sortBy" (click)="sortPrice(10,20)">$10.00 - $20.00</li>
                        <li class="sortBy" (click)="sortPrice(20,30)">$20.00 - $30.00</li>
                        <li class="sortBy" (click)="sortPrice(30,'end')">$30.00+</li>
                    </ul>
                </div>
                <div class="collapse-describe col-6	col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <ul>
                        <li class="sortBy">Default</li>
                        <li class="sortBy">Popularity</li>
                        <li class="sortBy">Average rating</li>
                        <li class="sortBy">Newness</li>
                        <li class="sortBy">Price: Low to Hight</li>
                        <li class="sortBy">Price: High to Low</li>
                    </ul>
                </div>
                <div class="collapse-describe col-6	col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <ul>
                        <li class="collapse-tags">Fashion</li>
                        <li class="collapse-tags">Lifestyle</li>
                        <li class="collapse-tags">clothes</li>
                        <li class="collapse-tags">Street</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="modal-img col-12 col-sm-12 col-md-6">
                            <div class="container ph-modal">
                                <div class="row">
                                    <div class="modal-image-side col-2 col-sm-2 col-md-2">
                                        <img src="../../../assets/pexels-photo-128206.jpeg" alt="">
                                        <img src="../../../assets/woman-3046960_640.jpg" alt="">
                                        <img src="../../../assets/dog-2467149_640.jpg" alt="">
                                    </div>
                                    <div class="modal-image-main col-10 col-sm-10 col-md-10">
                                        <img src="../../../assets/woman-3046960_640.jpg" alt="">
                                        <div class="modal-image-main-arrow-left"><i class="fas fa-arrow-circle-left"></i></div>
                                        <div class="modal-image-main-arrow-right"><i class="fas fa-arrow-circle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-describe col-12 col-sm-12 col-md-6">
                            <div class="modal-describe-title">{{ modalItem?.name }}<span (click)="likebtn($event)" class="like-btn"></span></div>
                            <div class="modal-describe-price">Price: <span>$ {{ modalItem?.price }}</span></div>
                            <div class="modal-describe-specification">{{ modalItem?.describe }}</div>
                            <div class="modal-describe-option d-flex flex-column">
                                <div class="row box-select align-items-center">
                                    <div class="col-2">Size: </div>
                                    <div class="select col-6">
                                        <select [ngModel]="selectedSize" (ngModelChange)="onChangeSize($event)">
                                            <option disabled>Size</option>
                                            <option *ngFor="let size of modalItem?.size" [ngValue]="size">{{ size }}</option>
                                        </select>
                                        <div class="select_arrow"></div>
                                    </div>
                                </div>
                                <div class="row box-select align-items-center">
                                    <span class="col-2">Color: </span>
                                    <div class="select col-6">
                                        <select [ngModel]="selectedColor" (ngModelChange)="onChangeColor($event)">
                                            <option disabled>Color</option>
                                            <option *ngFor="let color of modalItem?.color" [ngValue]="color">{{ color }}</option>
                                        </select>
                                        <div class="select_arrow"></div>
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center">
                                    <div class="quantity-item col-2"></div>
                                    <div class="modal-count-item col-10">
                                        <div class="quantity d-flex flex-row">
                                            <button class="plus-btn" type="button" name="button" (click)="quantityChange(true)">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                            <input [(ngModel)]="quantity" type="text" name="name">
                                            <button class="minus-btn" type="button" name="button" (click)="quantityChange(false)">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-button-add-to-chart d-flex justify-content-end">
                                    <button data-dismiss="modal" (click)="addItem()">Add to chart</button>
                                </div>
                            </div>
                            <div class="modal-describe-social-media"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- START PRODUCT -->
    <div class="row photos justify-content-center">
        <ng-container *ngFor="let item of shop | paginate: { id: 'shop-pagination', itemsPerPage: 12, currentPage: pageShop }">
            <div class="item-shop-box col-11 col-sm-10 col-md-6 col-lg-4" (click)="checkItem(item._id)">
                <figure class="snip1423" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg" alt="sample57" />
                    <figcaption>
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.smallDescribe }}</p>
                        <div class="price">
                            <s>$24.00</s>{{ item.price }}
                        </div>
                    </figcaption><i class="fas fa-cart-plus"></i>
                </figure>
            </div>
        </ng-container>
        <!-- END PRODUCT -->
    </div>
    <div class="pagination col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
        <pagination-controls id="shop-pagination" (pageChange)="pageShop = $event"></pagination-controls>
    </div>
</div>
