<section>
    <div class="blog-main-image">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-10">
                    <div class="inscryption-image text-center">
                        <ng-template [ngIf]="imageToShow">
                            <img [src]="imageToShow" alt="profile-sample4" class="profile" />
                        </ng-template>
                        <div class="profile-name">{{ username }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container profile-content">
        <div class="row justify-content-center">
            <div class="profile-left col-12 col-sm-10 col-md-4 col-lg-4">
                <div class="left-info">About
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, corporis molestiae. Neque facilis et eligendi vel eveniet harum, eos! Praesentium earum iusto, ea consequatur. A eius ea obcaecati autem nihil.</p>
                    <hr>
                </div>
                <div class="left-data">Info<br>
                    <p><span>Age: </span> 21</p>
                    <p><span>Email: </span> {{ email }}</p>
                    <hr>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadImage">
                  Upload new image
                </button>
            </div>
            <div class="profile-right col-12 col-sm-10 col-md-8 col-lg-8">
                <div class="profile-right-title">
                    Your Post
                </div>
                <div class="article-profile row d-flex flex-lg-row flex-sd-column flex-md-column" *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: p }">
                    <div class="profile-image-article col-12 col-sm-12 col-md-12 col-lg-5">
                        <figure class="snip1295"><img src="../../../assets/old-retro-antique-vintage-163182.jpeg" alt="">
                            <div class="border one">
                                <div></div>
                            </div>
                            <div class="border two">
                                <div></div>
                            </div><a *ngIf="post.isApproved" [routerLink]="['/post/', post._id]"></a>
                        </figure>
                    </div>
                    <div class="profile-image-describe col-12 col-sm-12 col-md-12 col-lg-7">
                        <div class="post-content-info d-flex flex-row">
                            <span class="mr-auto p-2">By <i class="font-weight">{{ post.createdBy }}</i>{{ post.createdAt | date:'MMM dd, yyyy' }}</span>
                            <span class="p-2"><i class="far fa-heart"></i>{{ post.likes }}</span>
                            <span class="p-2">|</span>
                            <span class="p-2"><i class="far fa-comments"></i>{{ post.dislikes }}</span>
                        </div>
                        <div class="Status d-flex flex-row ">
                            <span class="mr-auto p-2">Status: <i class="isAppr" [ngStyle]="{ 'color': (post.isApproved ? 'green' : 'red') }">{{ post.isApproved ? 'Accepted' : 'Pending' }}</i></span>
                        </div>
                        <div class="post-content-title">
                            {{ post.title | shorten: 50 }}
                        </div>
                        <div class="post-content-describe text-wrap">
                            {{ post.body | shorten: 200 }}.....
                        </div>
                        <div class="post-main-button d-flex justify-content-end">
                            <button *ngIf="post.isApproved" [routerLink]="['/post/', post._id]">Continue Reading</button>
                            <button [routerLink]="['/edit-post/', post._id]">Edit</button>
                            <button *ngIf="username === post.createdBy" data-toggle="modal" data-target=".bd-example-modal-sm">Delete</button>
                        </div>
                    </div>
                    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Are you sure??
                                </div>
                                <div class="buttons d-flex flex-row justify-content-center">
                                    <button data-dismiss="modal" (click)="deletePost(post._id)" class="btn btn-success">YES</button>
                                    <button data-dismiss="modal" class="btn btn-danger">NO</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="posts?.length > 0" class="pagination col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                <div class="noPost col-12 col-sm-12 col-md-12 col-lg-12 text-center" *ngIf="posts?.length === 0">
                    {{ message }}
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="uploadImage" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload new image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="form" (submit)="onSubmit()">
                            <div class="custom-file mb-3">
                                <input type="file" name="avatar" id="file" class="custom-file-input" (change)="fileChangeEvent($event)" formControlName="file">
                                <label for="file" class="custom-file-label">Choose File</label>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-primary btn-block">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
