<div class="blog-main-image">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="inscryption-image text-center">About us</div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row d-flex d-flex flex-lg-row flex-sd-column flex-md-row justify-content-center">
            <div class="about-img col-12 col-sm-10 col-md-5 col-lg-4 align-self-center">
                <figure class="snip1113 red">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample1.jpg" alt="pr-sample1" />
                    <figcaption>
                        <h3>Roberto <span>Alvarez</span></h3>
                        <h4>
                            Creator
                        </h4>
                    </figcaption>
                </figure>
            </div>
            <div class="about-story col-12 col-sm-10 col-md-7 col-lg-8">
                <div class="story-title">To create a better future</div>
                <hr>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quo quia nam excepturi debitis quod voluptatibus iste nesciunt accusamus consectetur, ipsa illum, delectus perferendis laboriosam in sed quam maiores. Et.</span>
                <p><span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis id explicabo nam hic dicta iste est praesentium, culpa fuga nesciunt, debitis, atque voluptatibus fugiat numquam possimus molestias, pariatur natus at.</span><span>Alias unde vero voluptatem perferendis, ab corporis rerum possimus, odio facere dolorum, illo illum minima natus. Unde sit, eaque earum et maxime explicabo dolorum minima debitis eum vitae, deserunt ut.</span></span>
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="timeline-head-title">Our History</div>
            <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                    </div>
                    <div class="cd-timeline-content">
                        <h2>Big project</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                                <i class="fa fa-certificate" aria-hidden="true"></i> Lorem ipsum 
                            </span>
                            <span class="timeline-content-info-date">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                June 2018 - Present
                            </span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nesciunt illo ea, possimus earum nam aliquam voluptatum quasi consequuntur. Architecto, alias, ipsum. Cumque consequuntur.</p>
                        <ul class="content-skills">
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                            <li>Angurl 2+</li>
                            <li>Node js</li>
                        </ul>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie">
                    </div>
                    <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2>Title of section 2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                        <span class="cd-date">Jan 18</span>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                    </div>
                    <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2>Title of section 3</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
                        <span class="cd-date">1 July 2016</span>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-location">
                    </div>
                    <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2>Title of section 4</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                        <span class="cd-date">26 January 2016</span>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-location">
                    </div>

                    <div class="cd-timeline-content">
                        <h2>Title of section 5</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                        <span class="cd-date">1 January 2016</span>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie">
                    </div>
                    <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2>Final Section</h2>
                        <p>This is the content of the last section</p>
                        <span class="cd-date">Feb 26</span>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
            </section>
            <!-- cd-timeline -->
        </div>
    </div>
    <div class="blog-main-image">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="inscryption-image text-center">"Be brave. Take risks. Nothing can substitute experience."</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row the-team">
            <div class="team-item col-12 col-sm-4 col-md-4 col-lg-4 d-flex flex-column justify-content-center">
                <div class="team-item-icon"><i class="fas fa-cut"></i></div>
                <div class="team-item-icon-title">CRAFT</div>
                <div class="team-item-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque saepe voluptatem accusamus praesentium asperiores minima, unde distinctio impedit autem voluptatibus harum similique, cupiditate nulla omnis optio doloribus dolores totam recusandae.</div>
            </div>
            <div class="team-item col-12 col-sm-4 col-md-4 col-lg-4 d-flex flex-column justify-content-center">
                <div class="team-item-icon"><i class="fas fa-clone"></i></div>
                <div class="team-item-icon-title">CREATIVITY</div>
                <div class="team-item-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque saepe voluptatem accusamus praesentium asperiores minima, unde distinctio impedit autem voluptatibus harum similique, cupiditate nulla omnis optio doloribus dolores totam recusandae.</div>
            </div>
            <div class="team-item col-12 col-sm-4 col-md-4 col-lg-4 d-flex flex-column justify-content-center">
                <div class="team-item-icon"><i class="fas fa-chart-line"></i></div>
                <div class="team-item-icon-title">Results</div>
                <div class="team-item-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque saepe voluptatem accusamus praesentium asperiores minima, unde distinctio impedit autem voluptatibus harum similique, cupiditate nulla omnis optio doloribus dolores totam recusandae.</div>
            </div>
            <div class="team-title col-12">THE TEAM</div>
            
        </div>
    </div>
</section>
