<div class="hero">
    <div class="hero-inner">
        <div class="hero-title">
            <h1 class="text-light title font-2">Your Store</h1>
            <div class="borders">
                <p></p>
                <p></p>
                <p></p>
            </div>
            <p class="text-capitalize text-light">The architect of style</p>
        </div>
        <a href="#" class="sd"><i class="fas fa-angle-double-down"></i> Scroll Down <i class="fa fa-angle-double-down"></i></a>
    </div>
</div>
<div class="content clearfix">
    <div class="container" style="padding-top: 60px">
        <div id="overview-head">
            <h1>Choose category</h1>
        </div>
    </div>
    <div class="container">
        <ul class="cards">
            <li class="cards__item">
                <div class="card">
                    <div class="card__image card__image--fence"></div>
                    <div class="card__content">
                        <div class="card__title">WOMEN</div>
                        <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam vitae blanditiis expedita. Sint praesentium, id nesciunt nostrum magni, quod veritatis, totam nobis possimus vero sunt et tempora blanditiis, ea.</p>
                        <button class="btn btn--block card__btn">CHECK OUT</button>
                    </div>
                </div>
            </li>
            <li class="cards__item">
                <div class="card">
                    <div class="card__image card__image--river"></div>
                    <div class="card__content">
                        <div class="card__title">MEN</div>
                        <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam vitae blanditiis expedita. Sint praesentium, id nesciunt nostrum magni, quod veritatis.</p>
                        <button class="btn btn--block card__btn">CHECK OUT</button>
                    </div>
                </div>
            </li>
            <li class="cards__item">
                <div class="card">
                    <div class="card__image card__image--record"></div>
                    <div class="card__content">
                        <div class="card__title">Accessories</div>
                        <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam vitae blanditiis expedita.</p>
                        <button class="btn btn--block card__btn">CHECK OUT</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="overview">
            <h1>Store Overview</h1>
            <div class="overview-division">
                <a>Best Seller</a>
                <a>Featured</a>
                <a>Sale</a>
                <a>Top Rate</a>
            </div>
        </div>
        <div class="slider">
            <div class="slide">
                <div class="child-element">
                    <img src="../../../assets/woman-3046960_640.jpg" alt="">
                    <div class="slider-describe">
                        <div class="product-name">Front Pocket Jumper</div>
                        <div class="product-price">- $34.75</div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="child-element"><img src="../../../assets/woman-3046960_640.jpg" alt=""></div>
            </div>
            <div class="slide">
                <div class="child-element"><img src="../../../assets/woman-3046960_640.jpg" alt=""></div>
            </div>
            <div class="slide">
                <div class="child-element"><img src="../../../assets/woman-3046960_640.jpg" alt=""></div>
            </div>
            <div class="slide">
                <div class="child-element"><img src="../../../assets/woman-3046960_640.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <div class="overview">
        <h1>SALES</h1>
    </div>
    <section class="sales">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 justify-content-md-center">
                    <figure class="snip1295"><img src="../../../assets/clock-3350289_640.jpg" alt="">
                        <div class="center-ins">SALES</div>
                        <div class="border one">
                            <div></div>
                        </div>
                        <div class="border two">
                            <div></div>
                        </div><a href="#"></a>
                    </figure>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 justify-content-md-center">
                    <figure class="snip1295"><img src="../../../assets/pexels-photo-128206.jpeg" alt="">
                       <div class="center-ins">SALES</div>
                        <div class="border one">
                            <div></div>
                        </div>
                        <div class="border two">
                            <div></div>
                        </div><a href="#"></a>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="sales-desc-bottom col-12">
                    <h1>- Sale only today -</h1>
                    <div class="countdown d-flex flex-row justify-content-center">
                        <div class="countdown-num"><span>12</span><span>days</span></div>
                        <div class="countdown-num"><span>12</span><span>hrs</span></div>
                        <div class="countdown-num"><span>12</span><span>min</span></div>
                        <div class="countdown-num"><span>12</span><span>sec</span></div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div id="blogs" class="overview">
            <h1>Our Blogs</h1>
            <div class="row">
                <div class="col-sm-6 col-md-4 pad">
                    <div class="blog-element">
                        <div class="blog-image">
                            <a href="#">
                                <figure class="snip1295"><img src="../../../assets/clock-3350289_640.jpg" alt="">
                                    <div class="border one">
                                        <div></div>
                                    </div>
                                    <div class="border two">
                                        <div></div>
                                    </div><a href="#"></a>
                                </figure>
                            </a>
                        </div>
                        <div class="blog-describe">
                            <div class="blog-describe-time main-time">By <i>Kamil Michalski</i> on <i>March 22, 2017</i></div>
                            <div class="blog-describe-element main-describe">
                                <a href="#"><span>The Great Big List of Men’s Gifts for the Holidays</span></a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deserunt, voluptatem. Corporis, sapiente, autem. Fugit distinctio numquam sit maiores at neque, dolorum quaerat doloremque voluptate quas. Sequi eaque enim tempore.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 pad">
                    <div class="blog-element">
                        <div class="blog-image">
                            <a href="#">
                                <figure class="snip1295"><img src="../../../assets/clock-3350289_640.jpg" alt="">
                                    <div class="border one">
                                        <div></div>
                                    </div>
                                    <div class="border two">
                                        <div></div>
                                    </div><a href="#"></a>
                                </figure>
                            </a>
                        </div>
                        <div class="blog-describe">
                            <div class="blog-describe-time main-time">By <i>Kamil Michalski</i> on <i>March 22, 2017</i></div>
                            <div class="blog-describe-element main-describe">
                                <a href="#"><span>The Great Big List of Men’s Gifts for the Holidays</span></a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deserunt, voluptatem. Corporis, sapiente, autem. Fugit distinctio numquam sit maiores at neque, dolorum quaerat doloremque voluptate quas. Sequi eaque enim tempore.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 pad">
                    <div class="blog-element">
                        <div class="blog-image">
                            <a href="#">
                                <figure class="snip1295"><img src="../../../assets/clock-3350289_640.jpg" alt="">
                                    <div class="border one">
                                        <div></div>
                                    </div>
                                    <div class="border two">
                                        <div></div>
                                    </div><a href="#"></a>
                                </figure>
                            </a>
                        </div>
                        <div class="blog-describe">
                            <div class="blog-describe-time main-time">By <i>Kamil Michalski</i> on <i>March 22, 2017</i></div>
                            <div class="blog-describe-element main-describe">
                                <a href="#"><span>The Great Big List of Men’s Gifts for the Holidays</span></a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deserunt, voluptatem. Corporis, sapiente, autem. Fugit distinctio numquam sit maiores at neque, dolorum quaerat doloremque voluptate quas. Sequi eaque enim tempore.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
