<section>
    <div class="blog-main-image">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="inscryption-image text-center">Singel Post</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="messageClass && message">
        <!-- Custom Success/Error Message -->
        <div class="show-hide-message">
            <div [ngClass]="messageClass">
                {{ message }}
            </div>
        </div>
    </div>
    <div class="container ma-30 popis-font">
        <hr>
        <div class="row align-items-start justify-content-center">
            <div class="col-12 col-lg-8" *ngIf="blog">
                <div class="main-post col-12 d-flex flex-column">
                    <figure class="snip1295"><img src="../../../assets/old-retro-antique-vintage-163182.jpeg" alt="">
                        <div class="border one">
                            <div></div>
                        </div>
                        <div class="border two">
                            <div></div>
                        </div><a href="#"></a>
                    </figure>
                    <div class="post-content">
                        <article>
                            <div class="post-content-info d-flex flex-row">
                                <span class="mr-auto p-2">By <i class="font-weight">{{ blog.createdBy }}</i>{{ blog.createdAt | date:'MMM dd, yyyy' }}</span>
                                <span class="p-2"><i class="far fa-heart"></i>{{ blog.likes }}</span>
                                <span class="p-2">|</span>
                                <span class="p-2"><i class="far fa-comments"></i>{{ blog.comments?.length || '0' }}</span>
                            </div>
                            <div class="post-content-title text-wrap">
                                {{ blog.title }}
                            </div>
                            <div class="post-content-describe text-wrap">
                                <div [innerHtml]="blog.body"></div>
                                <div class="like-post d-flex flex-wrap" *ngIf="!isOwn && this.authService.loggedIn()">
                                    <div *ngIf="!isLike" class="like-post-heart">- Like this article? Give him heart<span (click)="likePost($event, blog._id)" class="like-btn"></span></div>
                                    <div *ngIf="isLike" class="like-post-heart">- You like this article<span class="like-btn is-active" (click)="dislikePost($event, blog._id)"></span></div>
                                </div>
                            </div>
                        </article>
                        <div class="tags d-flex flex-row flex-wrap">
                            <span *ngFor="let tag of blog?.tags">{{ tag }}</span>
                        </div>
                        <div class="post-main-button d-flex justify-content-end" *ngIf="isOwn && this.authService.loggedIn()">
                            <button [routerLink]="['/edit-post/', blog._id]">Edit Post</button>
                        </div>
                        <div class="last-post">
                            <div class="inscryption">
                                Latest post
                            </div>
                            <div class="row justify-content-center" *ngIf="blogPosts">
                                <div class="col-12 col-sm-10 col-md-4 col-lg-4 d-flex flex-column last" *ngFor="let post of blogPosts" [routerLink]="['/post/', post._id]">
                                    <img src="../../../assets/pexels-photo-590493.jpeg" alt="">
                                    <div class="last-post-who">
                                        {{ post.createdBy }} | {{ post.createdAt | date:'MMM dd, yyyy' }}
                                    </div>
                                    <div class="last-post-describe">
                                        {{ post.body | shorten: 50 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-section">
                            <div class="amount-com">{{ blog.comments?.length || '0' }} Comments</div>
                            <div class="singel-com" *ngFor="let com of blog.comments">
                                <div class="row">
                                    <div class="singel-com-img col-3 col-sm-3 col-md-2 col-log-2 d-flex flex-column align-items-center">
                                        <img *ngIf="com.img" [src]="com?.img?.img" alt="">
                                        <div class="com-name">
                                            {{ com.commentator }}
                                        </div>
                                    </div>
                                    <div class="singel-com-desc col-9 col-sm-9 col-md-10 col-log-10 d-flex flex-column">
                                        <div class="singel-com-desc-time">{{ com.commentData | date:'MMM dd, yyyy'}}</div>
                                            {{ com.comment }}
                                        <div class="singel-like">
                                            <button [ngClass]="{'green': ifLike(com) === 'like', 'disabled': ifLike(com) === 'own'}" [disabled]="ifLike(com) === 'own'" (click)="likeComment(blog._id, com._id)" ><i class="fas fa-sign-language"></i>Nice <sup>{{ com.commentlikes }}</sup></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="write-comment">
                            <div class="amount-com" *ngIf="!authService.loggedIn()">Login to leave comment</div>
                            <div class="amount-com" *ngIf="authService.loggedIn()">Leave a comment</div>
                            <div class="write-comment-input">
                                <form [formGroup]="form">
                                    <textarea [ngClass]="{'input-success': form.controls.body.valid, 'input-error': form.controls.body.dirty && form.controls.body.errors}" rows="8" placeholder="Write message..." formControlName="body"></textarea>
                                    <ul class="help-block">
                                        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
                                        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 200, Min length: 2</li>
                                    </ul>
                                </form>
                            </div>
                            <div class="write-button" *ngIf="authService.loggedIn()">
                                <button [disabled]="!form.valid || processing" [ngClass]="{'disabled': !form.valid || processing}" (click)="postComment(blog._id)">Send message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 ma-30 d-flex flex-column">
                <app-side-bar></app-side-bar>
            </div>
        </div>
    </div>
</section>
