<section>
    <div class="blog-main-image">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="inscryption-image text-center">Singel Post</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container ma-30 popis-font">
        <hr>
        <div class="row align-items-start justify-content-center">
            <div class="col-12 col-lg-8" *ngIf="blog">
                <div class="main-post col-12 d-flex flex-column">
                    <figure class="snip1295"><img src="../../../assets/old-retro-antique-vintage-163182.jpeg" alt="">
                        <div class="border one">
                            <div></div>
                        </div>
                        <div class="border two">
                            <div></div>
                        </div><a href="#"></a>
                    </figure>
                    <div class="post-content">
                        <article>
                            <div class="post-content-info d-flex flex-row">
                                <span class="mr-auto p-2">By <i class="font-weight">{{ blog.createdBy }}</i>{{ blog.createdAt | date:'MMM dd, yyyy' }}</span>
                                <span class="p-2"><i class="far fa-heart"></i>{{ blog.likes }}</span>
                                <span class="p-2">|</span>
                                <span class="p-2"><i class="far fa-comments"></i>{{ blog.dislikes }}</span>
                            </div>
                            <div class="post-content-title">
                                {{ blog.title }}
                            </div>
                            <div class="post-content-describe">
                                {{ blog.body }}
                                <div class="like-post d-flex flex-wrap" *ngIf="!isOwn">
                                    <div *ngIf="!isLike" class="like-post-heart">- Like this article? Give him heart<span (click)="likePost($event, blog._id)" class="like-btn"></span></div>
                                    <div *ngIf="isLike" class="like-post-heart">- Like this article? Give him heart<span class="like-btn is-active" (click)="dislikePost($event, blog._id)"></span></div>
                                </div>
                            </div>
                        </article>
                        <div class="tags d-flex flex-row flex-wrap">
                            <span *ngFor="let tag of blog?.tags">{{ tag }}</span>
                        </div>
                        <div class="last-post">
                            <div class="inscryption">
                                Latest post
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-10 col-md-4 col-lg-4 d-flex flex-column">
                                    <img src="../../../assets/pexels-photo-590493.jpeg" alt="">
                                    <div class="last-post-who">
                                        Kamil Michalski | 19 May 2018
                                    </div>
                                    <div class="last-post-describe">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </div>
                                </div>
                                <div class="col-12 col-sm-10 col-md-4 col-lg-4 d-flex flex-column">
                                    <img src="../../../assets/pexels-photo-590493.jpeg" alt="">
                                    <div class="last-post-who">
                                        Kamil Michalski | 19 May 2018
                                    </div>
                                    <div class="last-post-describe">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </div>
                                </div>
                                <div class="col-12 col-sm-10 col-md-4 col-log-4 d-flex flex-column">
                                    <img src="../../../assets/pexels-photo-590493.jpeg" alt="">
                                    <div class="last-post-who">
                                        Kamil Michalski | 19 May 2018
                                    </div>
                                    <div class="last-post-describe">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-section">
                            <div class="amount-com">3 Comments</div>
                            <div class="singel-com">
                                <div class="row">
                                    <div class="singel-com-img col-3 col-sm-3 col-md-2 col-log-2 d-flex flex-column align-items-center">
                                        <img src="../../../assets/pexels-photo-614810.jpeg" alt="">
                                        <div class="com-name">
                                            Kamil Michalski
                                        </div>
                                    </div>
                                    <div class="singel-com-desc col-9 col-sm-9 col-md-10 col-log-10 d-flex flex-column">
                                        <div class="singel-com-desc-time">27 MAY 2018</div>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi placeat quae quas numquam repellat saepe autem, ipsam iusto at sapiente hic nihil perspiciatis facere totam ducimus corporis labore cum accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quo, at illum corrupti tempora voluptatibus enim libero suscipit ex ea minus animi. recusandae laboriosam, quas, quidem deserunt vero dicta ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        <div class="singel-like">
                                            <button><i class="fas fa-sign-language"></i>Nice <sup>(8)</sup></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="singel-com">
                                <div class="row">
                                    <div class="singel-com-img col-3 col-sm-3 col-md-2 col-log-2 d-flex flex-column align-items-center">
                                        <img src="../../../assets/pexels-photo-614810.jpeg" alt="">
                                        <div class="com-name">
                                            Kamil Michalski
                                        </div>
                                    </div>
                                    <div class="singel-com-desc col-9 col-sm-9 col-md-10 col-log-10 d-flex flex-column">
                                        <div class="singel-com-desc-time">27 MAY 2018</div>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi placeat quae quas numquam repellat saepe autem, ipsam iusto at sapiente hic nihil perspiciatis facere totam ducimus corporis labore cum accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quo, at illum corrupti tempora voluptatibus enim libero suscipit ex ea minus animi. recusandae laboriosam, quas, quidem deserunt vero dicta ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        <div class="singel-like">
                                            <button><i class="fas fa-sign-language"></i>Nice <sup>(3)</sup></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="singel-com">
                                <div class="row">
                                    <div class="singel-com-img col-3 col-sm-3 col-md-2 col-log-2 d-flex flex-column align-items-center">
                                        <img src="../../../assets/pexels-photo-614810.jpeg" alt="">
                                        <div class="com-name">
                                            Kamil Michalski
                                        </div>
                                    </div>
                                    <div class="singel-com-desc col-9 col-sm-9 col-md-10 col-log-10 d-flex flex-column">
                                        <div class="singel-com-desc-time">27 MAY 2018</div>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi placeat quae quas numquam repellat saepe autem, ipsam iusto at sapiente hic nihil perspiciatis facere totam ducimus corporis labore cum accusantium.
                                        <div class="singel-like">
                                            <button><i class="fas fa-sign-language"></i>Nice</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="write-comment">
                            <div class="amount-com" *ngIf="!authService.loggedIn()">Login to leave comment</div>
                            <div class="amount-com" *ngIf="authService.loggedIn()">Leave a comment</div>
                            <div class="write-comment-input">
                                <textarea [disabled]="!authService.loggedIn()" placeholder="Write message..."></textarea>
                            </div>
                            <div class="write-button" *ngIf="authService.loggedIn()">
                                <button>Send message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8" *ngIf="messageClass && message">
                <!-- Custom Success/Error Message -->
                <div class="show-hide-message">
                    <div [ngClass]="messageClass">
                        {{ message }}
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 ma-30 d-flex flex-column">
                <app-side-bar></app-side-bar>
            </div>
        </div>
    </div>
</section>
