<section>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-9 col-lg-7 col-xl-7">
                <form>
                    <div class="box-login">
                        <h2>Register</h2>
                        <input type="text" placeholder="Login">
                        <input type="email" placeholder="E-mail">
                        <input type="password" placeholder="password">
                        <input type="password" placeholder="password">
                        <div class="login-send">
                            <button>Login</button>
                        </div>
                        <span>Do have an account? <a href="">Sign in</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
