<section>
    <div class="container">
        <div class="row d-flex flex-lg-row flex-sd-column flex-md-column">
            <div class="view-cart-left col-12 col-sm-12 col-md-12 col-lg-8">
                <div class="shopping-cart">
                    <div class="container">
                        <div class="pad-10 row d-flex flex-column">
                            <div class="title">
                                Shopping cart
                            </div>
                            <div class="current-product" *ngIf="storageItems?.length > 0">
                                You currently have {{ storageItems.length }} item{{ storageItems.length > 1 ? 's' : '' }} in your cart.
                            </div>
                            <div class="shopping-cart-product">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" colspan="2">Product</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of storageItems">
                                            <td scope="row">
                                                <img src="../../../assets/clock-3350289_640.jpg" alt="">
                                            </td>
                                            <td>{{ item.name }}</td>
                                            <td><input type="number" [value]="item.quantity" (input)="quantityChange(item.itemId, $event.target.value)"></td>
                                            <td>$ {{ item.price }}</td>
                                            <td>$ {{ item.price * item.quantity }}<i (click)="deleteItem(item.itemId)" class="fas fa-trash-alt"></i></td>
                                        </tr>
                                        <tr class="sum">
                                            <td colspan="4">TOTAL:</td>
                                            <td colspan="1">$ {{ totalPrice }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart-button ml-auto">
                                <button [disabled]="!(storageItems !== 'undefined' && storageItems !== null && storageItems.length > 0)" [ngClass]="{'disabled': !(storageItems !== 'undefined' && storageItems !== null && storageItems.length > 0) }">Proccesed to checout</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pad-10 may-like">                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam architecto neque nulla incidunt vitae excepturi, debitis quisquam suscipit explicabo doloremque maiores fuga culpa officiis temporibus quis. Autem, voluptate accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, error, sit. Ipsam expedita, quis dolores, nam necessitatibus dolorum aliquid repudiandae amet, deserunt perspiciatis obcaecati dicta dolor assumenda accusantium non molestiae!<br><br>
                    
                    <i>*Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptatem, voluptates veritatis? Quis vel nostrum, molestias consectetur, nesciunt et amet nobis aspernatur ducimus provident reprehenderit quibusdam facere error doloremque! Ipsa.</i>
                </div>
            </div>
            <div class="view-cart-right col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="cart-order">
                    <div class="container">
                        <div class="pad-10 row d-flex flex-column">
                            <div class="order-title">
                                Order summary
                            </div>
                            <div class="describe">
                                Shipping and additional costs are calculated based on the values you have entered.
                            </div>
                            <div class="order-tab">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Order subtotal</td>
                                            <td>${{ totalPrice }}</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping and handling</td>
                                            <td>${{ storageItems !== null && storageItems.length > 0 ? '$10.00' : 0 }}</td>
                                        </tr>
                                        <tr>
                                            <td>Tax</td>
                                            <td>${{ storageItems !== null && storageItems.length > 0 ? '$2.00' : 0 }}</td>
                                        </tr>
                                        <tr class="bold">
                                            <td>Total: </td>
                                            <td>${{ storageItems !== null && storageItems.length > 0 ? totalPrice + 10 + 2 : '0' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coupon-code">
                    <div class="container">
                        <div class="pad-10 row d-flex flex-column">
                            <div class="code-title">Coupon code</div>
                            <div class="code-describe">If you have a coupon code, please enter it in the box below.</div>
                            <div class="button-box">
                                <div class="code-button">
                                    <i class="fas fa-location-arrow icon"></i>
                                    <input type="text" placeholder="Code">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
