<div class="right-blog-side align-self-center">
    <div class="search-blog">
        <i class="fas fa-search icon"></i>
        <input type="text" id="search" placeholder="Search...">
    </div>
</div>
<div class="right-category">
    <div class="inscryption">
        Category
    </div>
    <ul>
        <li>Fashion</li>
        <li>Beauty</li>
        <li>Street Style</li>
        <li>Life Style</li>
        <li>DIY and Crafts</li>
    </ul>
</div>
<div class="by-month ma-30">
    <div class="inscryption">
        Archive
    </div>
    <ul>
        <li>January 2018 (10)</li>
        <li>February (2)</li>
        <li>March (9)</li>
        <li>April (12)</li>
        <li>My 2018 (3)</li>
    </ul>
</div>
<div class="newsletter ma-30 align-self-center">
    <div class="inscryption">
        Newsletter
    </div>
    <div class="describe">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, eos assumenda sequi distinctio, sunt dolor expedita.
    </div>
    <div class="news-button">
        <i class="fas fa-location-arrow icon"></i>
        <input type="email" placeholder="E-mail">
    </div>
</div>
